h1{
    text-align: center;
    color: rgb(98, 15, 199);
}

.tiktak{
    margin: auto;
    width: 60vh;
    height: 60vh;
    background-color: rgba(0, 139, 139, 0.481);
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    align-items: center;
    
}

.form{
    margin: auto;
    text-align: center;
}

.btn{
    width: 15vh;
    height: 15vh;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid rgba(28, 54, 69, 0.2);
    box-shadow: rgba(0, 0, 0, 0.202) 0px 5px 15px;         
}
